ion-content {
  --background: #f4f6f9;
}

ion-item {
  margin-bottom: 15px;
  border-radius: 12px;
  --background: #ffffff;
  padding: 10px;
}

ion-label {
  font-weight: 500;
}

/* Toggle */
ion-toggle {
  --background-checked: #222;
}

/* Tombol backup */
ion-button {
  margin-top: 20px;
  border-radius: 12px;
  font-weight: bold;
  --background: #007bff;
  height: 48px;
}

/* Efek klik */
ion-button:active {
  transform: scale(0.97);
}